$selected-bg-color: #5c8d3f;
$selected-text-color: #fff;

#save-ticket{
    &:disabled{
        background-color: #e09f9f;
        cursor: not-allowed;
        pointer-events: auto;
    }
}
#number-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .number{
        width: 30px;
        height: 30px;   
        margin: 5px;
        border: 1px solid #000;
        text-align: center;
        line-height: 12px;
        padding: 5px;
        cursor: pointer;
        &.selected{
            background-color: $selected-bg-color;
            color: $selected-text-color;
        }
    }
}